@model  QuizTestingSystem.Models.question
@{
    Layout = "~/Views/Shared/adminLayout.cshtml";
}
<div class="modal fade" id="passAlert">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Success</h5>

            </div>
            <div class="modal-body">
                <p>Quiz Submitted</p>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">All courses</h2>
    <br><br><br>
    <button type="button" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("CreateCourse", "Admin") + "'");">Add new</button>
    
    <br><br>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Teacher</th>
                    <th>Course Type</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var cour in (List<QuizTestingSystem.Models.cours>)ViewData["Courses"])
                    {
                        <tr>
                            <td>@cour.courseId</td>

                            <td>@cour.courseName</td>
                            <td>@cour.teacher</td>
                            <td>@cour.type</td>
                            <td>@cour.price PKR</td>
                            <td>@Html.ActionLink(" ", "EditCourse", new { id = cour.courseId } ,new { @class = "glyphicon glyphicon-edit" })
                            @Html.ActionLink(" ", "Addquestion", new { id = cour.courseId }, new { @class = "glyphicon glyphicon-plus" })</td>
                        </tr>
                    }
                }

            </tbody>
        </table>
        <br><br>

    </div>
</div>