@model QuizTestingSystem.Models.MC
@{
    Layout = "~/Views/Shared/teacher_forms_layout.cshtml";
}
@using (Html.BeginForm("AddQuestionMA", "Teacher", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Add Question</h4>
        <hr />

        <input type="hidden" value="@ViewBag.Id" name="que" />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.question, new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.question, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.question)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.alpha, new { @class = "control-label col-md-2" })
            <div class="row">
                <div class="col-xs-2">
                    @Html.EditorFor(model => model.alpha, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.alpha)
                </div>
                <div class="col-xs-2">
                    @Html.EditorFor(model => model.bravo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.bravo)
                </div>
                <div class="col-xs-2">
                    @Html.EditorFor(model => model.charlie, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.charlie)
                </div>
                <div class="col-xs-2">
                    @Html.EditorFor(model => model.delta, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.delta)
                </div>
                <div class="col-xs-2">
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.right1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" id="role" name="role">
                    <option>Alpha</option>
                    <option>Bravo</option>
                    <option>Charlie</option>
                    <option>Delta</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.right2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" id="right2" name="right2">
                    <option>Alpha</option>
                    <option>Bravo</option>
                    <option>Charlie</option>
                    <option>Delta</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.marks, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.marks, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.marks)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Courses")
</div>

